@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 0.9rem;
}

.dashboard-container {
  padding: 15px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-welcome {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.dashboard-welcome .welcome-second-part {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.dashboard-welcome h1 span {
  font-style: oblique;
}
.dashboard-welcome h3,
p {
  color: #3e3e3e;
}
.dashboard-welcome h3 {
  margin: 0;
}
.dashboard-welcome p {
  font-style: italic;
  margin-top: 0;
}

/* Stats */
.stats-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
  margin-top: 35px;
}

.dashboard-left-column,
.dashboard-right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Priotity Tasks */
.task-priority-container {
  min-height: 315px;
  background-color: #e4cfaf;
  padding: 16px;
  border: 1px solid rgb(160, 156, 156);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.tasks {
  border: 1px solid gray;
  border-radius: 10px;
}
.view-all-btn {
  align-self: center;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid gray;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.view-all-btn:hover {
  background-color: rgba(60, 47, 25, 0.09);
}

/* Recent Activity */
.recent-activity-container {
  min-height: 315px;
  background-color: #e4cfaf;
  padding: 16px 20px;
  border: 1px solid rgb(160, 156, 156);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.activity-item {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.label-description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.label-description p:nth-child(1) {
  color: black;
  margin: 0;
}

.activity-desc {
  color: #3e4550d8; /* Soft gray for the description text */
  font-size: 0.9rem;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.task-duration {
  color: #363c45d2;
}

/* UpComing Dead Line */
.deadline-container {
  min-height: 280px;
  background-color: #e4cfaf;
  padding: 1px 15px 20px 15px;
  border: 1px solid rgb(160, 156, 156);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.deadline-items {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0;
}
.deadline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid gray;
  margin: 0;
}
.deadline-item:last-child {
  border-bottom: none;
}
.deadline-left-part {
  display: flex;
  align-items: center;
  gap: 12px;
}
.deadline-left-part p {
  color: black;
}
.deadline-category {
  background-color: #c1c3c592;
  color: #3d4552;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 3px 7px;
  border-radius: 10px;
  text-transform: capitalize;
  display: inline-block;
}

.deadline-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deadline-date p {
  margin: 0;
}
.deadline-date p:nth-child(1) {
  font-size: 1.48rem;
  font-weight: 900;
}

.deadline-right-part {
  display: flex;
  align-items: center;
  gap: 12px;
}
.until-deadline {
  color: #363c45d2;
  font-weight: 540;
}

.priority-high {
  color: rgb(227, 89, 89);
  border: 2px solid rgb(227, 89, 89);
}
.priority-medium {
  border: 1px solid rgb(192, 135, 3);
  background-color: rgb(243, 216, 166);
  color: rgba(0, 0, 0, 0.677);
}
.priority-low {
  border: 1px solid rgb(115, 246, 100);
  background-color: rgb(162, 243, 159);
  color: rgba(0, 0, 0, 0.677);
}
.priority-default {
  color: black;
  border: 1px solid black;
}
.priority-type {
  padding: 1px;
  border-radius: 3px;
  font-size: small;
  font-weight: 600;
}

/* Time Distribution */
.time-distribution-container {
  min-height: 280px;
  background-color: #e4cfaf;
  padding: 20px 30px;
  border: 1px solid rgb(160, 156, 156);
  border-radius: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.time-distribution-container .widget-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  margin: 0;
}
.chart {
  padding: 0;
}
.time-distribution-container .categories {
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex-grow: 1;
  min-width: 180px;
}
.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.category-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.status-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}
.dot-red {
  background-color: #ea4335;
}
.dot-orange {
  background-color: #fbbc05;
}
.dot-green {
  background-color: #34a853;
}
.dot-gray {
  background-color: #9aa0a6;
}

.category-name {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}
.category-right {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  gap: 4px;
}
.category-hours {
  color: #2b261f;
}

.category-percentage {
  color: #5c5549;
}
.widget-footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .stats-grid-container {
    /* Changes back to all 4 items in a single straight row on big screens */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .dashboard-body {
    display: flex;
    flex-direction: column;
  }
}
