.dashboard-container {
  padding: 15px;
  padding-right: 10px;
  width: 100%;
}

.dashboard-welcome h1 span {
  font-style: oblique;
}
.dashboard-welcome h3,
p {
  color: aliceblue;
}
.dashboard-welcome p {
  margin-top: -15px;
  font-style: italic;
}

/* Stats */
.stats-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  gap: 2rem;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
  margin-top: 35px;
}

.dashboard-left-column,
.dashboard-right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Priotity Tasks */
.task-priority-container {
  background-color: #e4cfaf;
  padding: 15px;
  border: 1px solid rgb(160, 156, 156);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.task-priority-container .view-all-btn {
  align-self: center;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.task-priority-container .view-all-btn:hover {
  background-color: #a18c6a;
}

@media (max-width: 768px) {
  .stats-grid-container {
    /* Changes back to all 4 items in a single straight row on big screens */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
